<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">RaspoloziMe</a>
    <button class="navbar-toggler" (click)="collapse = !collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.collapse]="collapse">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/events">Events</a>
        </li>
        <li *ngIf="hasSignedIn()" routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/tasks">My Tasks</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/create-event" title="Create new event"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li *ngIf="!hasSignedIn()" routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="hasSignedIn()" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userName() }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile">Profile Info</a>
            <a class="dropdown-item" routerLink="/change-password">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>