<div class="container">
  <h1>Events</h1>
  <p *ngIf="!events">No events found</p>
  <table *ngIf="events" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th routerLink="/events" [queryParams]="params" scope="col" (click)="sort('id')">#</th>
        <th routerLink="/events" [queryParams]="params" scope="col" (click)="sort('title')">Title</th>
        <th routerLink="/events" [queryParams]="params" scope="col" (click)="sort('location')">Location</th>
        <th routerLink="/events" [queryParams]="params" scope="col" (click)="sort('description')">Description</th>
      </tr>
    </thead>
	</table>
	<div *ngFor="let eventsTriplet of eventsTriplets" class="row">
		<div *ngFor="let event of eventsTriplet" class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title"><a [routerLink]="['/events', event.id]" title="{{ event.title }}">{{ event.title | summary:27}}</a></h4>
					<h6 class="card-subtitle mb-2 text-muted">{{ event.location }}</h6>
				</div>
					<a [routerLink]="['/events', event.id]"><img style="height: 200px; width: 100%; display: block;" src="/assets/images/children-playing.jpg" alt="Card image"></a>
				<div class="card-body">
					<p class="card-text">{{ event.description | summary }}</p>
				</div>
				<div class="card-body">
					<a [routerLink]="['/events', event.id]" class="card-link">More info</a>
					<a [routerLink]="['/events', event.id]" class="card-link">Visit event</a>
				</div>
			</div>
		</div>
	</div>
  <div *ngIf="events" class="row">
		<div class="col-sm-2">
				<div class="input-group mb-3">
				<div ngbDropdown class="btn-group dropup">
					<button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ params['size'] }}
					</button>
							<div ngbDropdownMenu class="dropdown-menu">
								<a class="dropdown-item" (click)="onSizeChange(6)">6</a>
								<a class="dropdown-item" (click)="onSizeChange(12)">12</a>
								<a class="dropdown-item" (click)="onSizeChange(36)">36</a>
							</div>
						</div>
				<div class="input-group-append">
					<span class="input-group-text">{{ pageNumber == 0 ? 1 : pageNumber*pageSize + 1}}-{{ numberOfElements + pageNumber*pageSize }}/{{ totalElements }}</span>
				</div>
			</div>
		</div>
		<div class="col-sm-10">
			<ul class="pagination">
				<li [ngClass]="{disabled:pageNumber === 0}" class="page-item">
					<a class="page-link" (click)="setPage(0)">First</a>
				</li>
				<li [ngClass]="{disabled:pageNumber === 0}" class="page-item">
					<a class="page-link" (click)="setPage(pageNumber - 1)">Previous</a>
				</li>
				<li *ngFor="let page of pageRange" [ngClass]="{active:pageNumber === page}" class="page-item">
				<a class="page-link" (click)="setPage(page)">{{page + 1}}</a>
				</li>
				<li [ngClass]="{disabled:pageNumber === totalPages - 1}" class="page-item">
					<a class="page-link" (click)="setPage(pageNumber + 1)">Next</a>
				</li>
				<li [ngClass]="{disabled:pageNumber === totalPages - 1}" class="page-item">
					<a class="page-link" (click)="setPage(totalPages - 1)">Last</a>
				</li>
			</ul>
		</div>
  </div>
</div>