thead th:hover {
    background-color: #696a6b;
    border-color: #696a6b;
    cursor: pointer;
}

.pagination .page-link {
	cursor: pointer;
}

.input-group-text {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.card {
    min-height: 430px;
    margin-bottom: 10px;
}

.card-text {
    min-height: 72px;
}