<div class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="addEvent()" type="button" class="btn btn-secondary">Create</button>
    <button routerLink="/events" type="button" class="btn btn-secondary">Cancel</button>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Title</span>
    </div>
    <input type="text" [(ngModel)]="event.title" value="{{ event.title }}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Description</span>
    </div>
    <input type="text" [(ngModel)]="event.description" value="{{ event.description }}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Location</span>
    </div>
    <input type="text" [(ngModel)]="event.location" value="{{ event.location }}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Owner</span>
    </div>
    <input type="text" [(ngModel)]="event.owner" value="{{ event.owner}}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Date</span>
    </div>
    <input class="form-control disabled" style="display:none;"
            ngbDatepicker
            placeholder="dd.MM.yyyy"
            name="datepicker" 
            #datepickcontrol="ngModel"
            #datepicker="ngbDatepicker"
            [(ngModel)]="event.eventDate" 
            value="{{ event.eventDate | dateformat }}">
    <p class="form-control">{{ event.eventDate | dateformat }}</p>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  
</div>