<div *ngIf="event" class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="updateEvent()" type="button" class="btn btn-secondary">Save</button>
    <button (click)="open(deleteModal, event.id)" type="button" class="btn btn-secondary">Delete</button>
    <button (click)="changeTitle=!changeTitle" type="button" class="btn btn-secondary">Change title</button>
  </div>

  <h1 *ngIf="!changeTitle">{{event.title}}</h1>
  <input *ngIf="changeTitle" (keyup.enter)="changeTitle=false" type="text" [(ngModel)]="event.title" value="{{ event.title }}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Description</span>
    </div>
    <input type="text" [(ngModel)]="event.description" value="{{ event.description }}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Location</span>
    </div>
    <input type="text" [(ngModel)]="event.location" value="{{ event.location }}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Owner</span>
    </div>
    <input type="text" [(ngModel)]="event.owner" value="{{ event.owner}}" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Date</span>
    </div>
    <input class="form-control disabled" style="display:none;"
            ngbDatepicker
            placeholder="dd.MM.yyyy"
            name="datepicker" 
            #datepickcontrol="ngModel"
            #datepicker="ngbDatepicker"
            [(ngModel)]="event.eventDate" 
            value="{{ event.eventDate | dateformat }}">
    <p class="form-control">{{ event.eventDate | dateformat }}</p>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  
</div>

<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure you want to delete Event?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button (click)="deleteEvent()" (click)="c('Close click')" type="button" class="btn btn-outline-dark" style="background-color: rgb(255, 41, 41);">Delete</button>
    <button (click)="c('Close click')" type="button" class="btn btn-outline-dark">Close</button>
  </div>
</ng-template>